body {
    background-color: rgb(83, 167, 132);
    text-align: center;
    margin-top: 60px;
    font-size: 40px;
}

span{
    display: inline;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}