body {
    background-color: teal;
    text-align: center;
    margin-top: 65px;
    font-size: 16rem;
}

span{
    display: inline;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}